In [1]:
pip install pandas sqlalchemy pymysql

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: pandas in c:\users\pratibha\appdata\roaming\python\python313\site-packages (2.3.1)
Requirement already satisfied: sqlalchemy in c:\users\pratibha\anaconda3\lib\site-packages (2.0.39)
Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pratibha\appdata\roaming\python\python313\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pratibha\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pratibha\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pratibha\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\pratibha\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\pratibha\appdata\roaming\python\python313\site-packages (from sqlalchemy) (4.14.1)
Requirement already satisfied: six>=1.5 in c:\users\pratibha\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
engine = create_engine(
    "mysql+pymysql://root:root@localhost:3306/SLA"
)

In [4]:
query = """
SELECT
    t.ticket_id,
    t.customer_id,
    t.priority,
    c.customer_ltv,
    TIMESTAMPDIFF(MINUTE, t.created_at, '2026-01-07 09:30:00') / 60 AS ticket_age_hours,
    s.sla_hours -
    TIMESTAMPDIFF(MINUTE, t.created_at, '2026-01-07 09:30:00') / 60 AS sla_remaining_hours,
    CASE
        WHEN s.sla_hours -
             TIMESTAMPDIFF(MINUTE, t.created_at, '2026-01-07 09:30:00') / 60 < 0
            THEN 'BREACHED'
        WHEN s.sla_hours -
             TIMESTAMPDIFF(MINUTE, t.created_at, '2026-01-07 09:30:00') / 60 BETWEEN 0 AND 2
            THEN 'NEAR_BREACH'
        ELSE 'SAFE'
    END AS sla_status,
    t.ticket_text,
    c.tenure_months
FROM support_tickets t
JOIN customers c ON t.customer_id = c.customer_id
JOIN sla_policies s ON t.priority = s.priority
WHERE t.status = 'Open';
"""

In [5]:
df = pd.read_sql(query, engine)

In [6]:
df.head()

,ticket_id,customer_id,priority,customer_ltv,ticket_age_hours,sla_remaining_hours,sla_status,ticket_text,tenure_months
0,T101,C001,Medium,6000.0,1.0000,23.0000,SAFE,Invoice mismatch for last month,12
1,T102,C002,High,14400.0,2.3333,5.6667,SAFE,Users unable to log in before exams,18
2,T103,C003,High,120000.0,11.5000,-3.5000,BREACHED,Shipment tracking API failing intermittently,24
3,T104,C004,Critical,252000.0,2.7500,1.2500,NEAR_BREACH,Patient records not syncing,36
4,T105,C005,Critical,1440000.0,10.0000,-6.0000,BREACHED,"Payment gateway down, transactions failing",48

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ticket_id            5 non-null      object
 1   customer_id          5 non-null      object
 2   priority             5 non-null      object
 3   customer_ltv         5 non-null      float64
 4   ticket_age_hours     5 non-null      float64
 5   sla_remaining_hours  5 non-null      float64
 6   sla_status           5 non-null      object
 7   ticket_text          5 non-null      object
 8   tenure_months        5 non-null      int64
dtypes: float64(3), int64(1), object(5)
memory usage: 492.0+ bytes

In [10]:
pip install textblob

Collecting textblobNote: you may need to restart the kernel to use updated packages.

  Downloading textblob-0.19.0-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: nltk>=3.9 in c:\users\pratibha\anaconda3\lib\site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in c:\users\pratibha\appdata\roaming\python\python313\site-packages (from nltk>=3.9->textblob) (8.2.1)
Requirement already satisfied: joblib in c:\users\pratibha\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\pratibha\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\pratibha\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.67.1)
Requirement already satisfied: colorama in c:\users\pratibha\appdata\roaming\python\python313\site-packages (from click->nltk>=3.9->textblob) (0.4.6)
Downloading textblob-0.19.0-py3-none-any.whl (624 kB)
   ---------------------------------------- 0.0/624.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/624.3 kB ? eta -:--:--
   ---------------- ----------------------- 262.1/624.3 kB ? eta -:--:--
   ---------------- ----------------------- 262.1/624.3 kB ? eta -:--:--
   ---------------- ----------------------- 262.1/624.3 kB ? eta -:--:--
   ------------------------------- ------ 524.3/624.3 kB 409.8 kB/s eta 0:00:01
   ------------------------------- ------ 524.3/624.3 kB 409.8 kB/s eta 0:00:01
   ------------------------------- ------ 524.3/624.3 kB 409.8 kB/s eta 0:00:01
   ------------------------------- ------ 524.3/624.3 kB 409.8 kB/s eta 0:00:01
   ---------------------------------------- 624.3/624.3 kB 254.0 kB/s  0:00:01
Installing collected packages: textblob
Successfully installed textblob-0.19.0

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
from textblob import TextBlob

def sentiment_score(text):
    return TextBlob(text).sentiment.polarity

In [12]:
df["sentiment_score"] = df["ticket_text"].apply(sentiment_score)

In [13]:
def sla_risk(status):
    if status == "BREACHED":
        return 0.6
    elif status == "NEAR_BREACH":
        return 0.3
    else:
        return 0.1

In [14]:
df["sla_risk"] = df["sla_status"].apply(sla_risk)

In [15]:
def sentiment_risk(score):
    if score < -0.3:
        return 0.5
    elif score < 0:
        return 0.3
    else:
        return 0.1

In [16]:
df["sentiment_risk"] = df["sentiment_score"].apply(sentiment_risk)

In [17]:
def tenure_risk(months):
    if months < 12:
        return 0.4
    elif months < 36:
        return 0.2
    else:
        return 0.1

In [18]:
df["tenure_risk"] = df["tenure_months"].apply(tenure_risk)

In [19]:
df["churn_risk"] = (
    0.5 * df["sla_risk"] +
    0.3 * df["sentiment_risk"] +
    0.2 * df["tenure_risk"]
)

df["churn_risk"] = df["churn_risk"].clip(0, 1)

In [20]:
df["revenue_at_risk"] = df["customer_ltv"] * df["churn_risk"]

In [21]:
df["priority_score"] = (
    df["revenue_at_risk"] /
    (df["sla_remaining_hours"].abs() + 1)
)

In [22]:
final_df = df.sort_values(
    by="priority_score",
    ascending=False
)[[
    "ticket_id",
    "priority",
    "sla_status",
    "churn_risk",
    "revenue_at_risk",
    "priority_score"
]]

In [23]:
final_df

,ticket_id,priority,sla_status,churn_risk,revenue_at_risk,priority_score
4,T105,Critical,BREACHED,0.41,590400.0,84342.857143
3,T104,Critical,NEAR_BREACH,0.20,50400.0,22400.000000
2,T103,High,BREACHED,0.37,44400.0,9866.666667
1,T102,High,SAFE,0.24,3456.0,518.397408
0,T101,Medium,SAFE,0.12,720.0,30.000000

In [24]:
final_df.to_excel("daily_ticket_prioritization.xlsx" , index=False)